<div class="fullscreen <%= @color_class %>">
  <h1> <%= @response %> </h1>
</div>

<!--
debugging info:
<%= %Q{
  Kelvins:   #{@temp_k}
  Humidity:  #{@humidity}
  Celsius:   #{@temp_c}
  Dew Point: #{@dew_point}
}%>
-->