<h1> Is It Muggy Outside? </h1>

<%= form_tag locations_path, method: :post do %>

  <div class='zip'>
    <label> Enter your Zip Code </label>
    <%= text_field_tag "zip_code", '', class: 'text-input' %>
    <%= submit_tag "Check", class: 'submit' %>
  </div>

<% end %>